body {
	background-color:#fafafa;
	color: #0e87ac;
	font-family: sans;

}

a.menu-record {
	color: #0e87ac;
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;
}

#page-container {
	padding-left: 0px;
}

#content-container {
}

#menu-container::before {
  content:'#';
  display:block;
  font-size:100px;
  font-weight:bold;
}
#menu-list {
	display:none;
	float: left;
	font-size: 30;
	font-weight: bold;
	background-color: #22313f;
	line-height: 2;
	margin: 10px;
	padding: 40px;
	border: 2px solid #22313f;
	border-radius: 5px;
	position:absolute;
}
.menu-record {
	font-size:30 !important;
	fornt-weight: bold !important;
}

li.menu-entry {
	display: block;
}

#object-data {
	background-color:#fafafa;
	padding: 20px;
}

#object-title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 20px;
}

#object-content, #object-description {
	font-size: 20px;
	font-weight: 100;
}

#object-content a {
	text-decoration: none;
	color: #0e87ac;
	font-size: 20px;
	font-weight: 400;
}
#object-content a:hover {
	font-weight: bold;
}
#footer-container {
	color:#ecf0f1;
	text-align:center;
	font-weight: 100;
	font-size: 12px;
}

#infocookie {
	font-weight: bold;
}

.icon-linkedin-squared::before {
	content: url('/img/linkedin.png');
}
.icon-github-squared::before {
	content: url('/img/github.png');
}

#object-tag, #object-category {
	display: none;
}

.list {
	display: list-item;
	list-style-position: inside;
	font-weight: inherit;
}

code {
	color: #fafafa;
	background-color:#22313F;
}
